@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&family=Roboto+Mono&display=swap");
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcce0), to(#ABB2FF));
  background: linear-gradient(#ffcce0, #ABB2FF);
  background-repeat: no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
}

p {
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#header {
  top: 80px;
  width: 650px;
  display: block;
  margin-left: 100px;
  position: absolute;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 55px;
  color: #000000;
  margin-top: 90px;
  margin-bottom: 30px;
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  color: #000000;
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#bottom {
  border-bottom: 5px #000000 solid;
  border-radius: 2px;
  padding-bottom: 20px;
}

#paraTop {
  margin-top: 20px;
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/*KIRBY @icantfindmyspider GitHub*/
.container {
  margin-left: 800px;
  width: 600px;
  background-color: #ffffff;
  height: 600px;
  margin-top: 40px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 30px 30px 1px #e2e2e2;
          box-shadow: 30px 30px 1px #e2e2e2;
}

.body {
  width: 330px;
  height: 330px;
  margin-top: 110px;
  border-radius: 50%;
  background: #ffa6c9;
  -webkit-box-shadow: 1px 1px 5px 7px rgba(255, 166, 201, 0.4);
          box-shadow: 1px 1px 5px 7px rgba(255, 166, 201, 0.4);
  z-index: 1;
}

.left-arm {
  width: 110px;
  height: 210px;
  border-radius: 2em;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  margin-left: 300px;
  margin-top: 190px;
  position: absolute;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 50px;
  background: #ffa6c9;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.25);
          box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.25);
  z-index: 0;
}

.right-arm {
  width: 105px;
  height: 220px;
  border-radius: 2em;
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
  margin-right: 290px;
  margin-top: 250px;
  position: absolute;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 100px;
  background: #ffa6c9;
  z-index: 0;
  -webkit-animation-name: kirby-wave;
          animation-name: kirby-wave;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-box-shadow: 5px 5px 10px rgba(30, 30, 10, 0.2);
          box-shadow: 5px 5px 10px rgba(30, 30, 10, 0.2);
}

@-webkit-keyframes kirby-wave {
  0% {
    top: 10vh;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 10vh;
  }
}

@keyframes kirby-wave {
  0% {
    top: 10vh;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 10vh;
  }
}

.left-leg {
  width: 100px;
  height: 110px;
  position: absolute;
  background: #ff4747;
  z-index: 0;
  margin-top: 400px;
  margin-bottom: 400px;
  margin-right: 110px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
          box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
}

.right-leg {
  width: 100px;
  height: 110px;
  position: absolute;
  background: #ff4747;
  z-index: 0;
  margin-top: 400px;
  margin-bottom: 400px;
  margin-left: 170px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 75px;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
          box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
}

.left-eye {
  width: 45px;
  height: 100px;
  border-radius: 50%;
  background: black;
  margin-top: 50px;
  margin-right: 105px;
}

.right-eye {
  width: 45px;
  height: 100px;
  border-radius: 50%;
  background: black;
  margin-top: 50px;
  margin-left: 105px;
}

.eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eyeShine {
  width: 25px;
  height: 40px;
  border-radius: 50%;
  background: white;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 5px 4px #282881;
          box-shadow: 0px 0px 5px 4px #282881;
}

.blueBottom {
  width: 23px;
  height: 35px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00008b), color-stop(#3232a2), to(#5a5ab4));
  background: linear-gradient(#00008b, #3232a2, #5a5ab4);
  margin-left: 10.9px;
  margin-top: 16px;
  position: absolute;
}

.mouth {
  width: 42px;
  height: 33px;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13% 13% 50% 50%;
  background: #d80a3e;
}

.tongue {
  width: 20px;
  height: 8px;
  margin-left: 11.2px;
  margin-top: 23px;
  position: absolute;
  background: #ac0831;
  border-radius: 13% 13% 50% 50%;
}

.right-cheek {
  display: inline;
  width: 50px;
  height: 35px;
  margin-right: 50px;
  border-radius: 50%;
  background: #ff8dba;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-box-shadow: 1px 1px 5px 10px #ff8dba;
          box-shadow: 1px 1px 5px 10px #ff8dba;
}

.left-cheek {
  margin-left: 50px;
  display: inline;
  width: 50px;
  height: 35px;
  border-radius: 50%;
  background: #ff8dba;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-box-shadow: 1px 1px 5px 10px #ff8dba;
          box-shadow: 1px 1px 5px 10px #ff8dba;
}

.heart {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #ffa6f6;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin-left: 1275px;
  margin-top: 165px;
  top: 370px;
  -webkit-box-shadow: -1px -1px 5px 3px rgba(255, 166, 246, 0.3);
          box-shadow: -1px -1px 5px 3px rgba(255, 166, 246, 0.3);
  z-index: 9;
  -webkit-animation-name: beat;
          animation-name: beat;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heart::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffa6f6;
  margin-top: 35px;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
          box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
}

.heart::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffa6f6;
  margin-left: 35px;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
          box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(225deg);
            transform: scale(1) rotate(225deg);
    /* Rotate because I set the degrees of the shape to 225 */
  }
  50% {
    -webkit-transform: scale(0.7) rotate(225deg);
            transform: scale(0.7) rotate(225deg);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(225deg);
            transform: scale(1) rotate(225deg);
    /* Rotate because I set the degrees of the shape to 225 */
  }
  50% {
    -webkit-transform: scale(0.7) rotate(225deg);
            transform: scale(0.7) rotate(225deg);
  }
}

#kirbyText {
  position: absolute;
  z-index: 5;
  top: 50px;
  font-size: 120px;
  color: #ffa6c9;
  font-family: 'Comforter', cursive;
}

@media only screen and (max-width: 1260px) {
  .container {
    margin-top: 300px;
  }
  h2 {
    font-size: 3vw;
    width: 800px;
  }
  p {
    font-size: 2.5vw;
    width: 800px;
  }
}

@media only screen and (max-width: 1400px) {
  body {
    margin: 0;
  }
  .container {
    margin-left: 200px;
    margin-top: 1260px;
  }
  .right-arm {
    margin-top: 1060px;
  }
  #kirbyText {
    top: 870px;
    display: block;
    margin-left: 800px;
  }
  h2 {
    font-size: 3vw;
    width: 1000px;
  }
  p {
    font-size: 2.5vw;
    width: 1000px;
  }
  .heart {
    margin-left: 670px;
    margin-top: 990px;
  }
}

@media only screen and (max-width: 1200px) {
  .heart {
    margin-left: 670px;
    margin-top: 920px;
  }
  h2 {
    font-size: 3vw;
    width: 800px;
  }
  p {
    font-size: 2.5vw;
    width: 800px;
  }
  .container {
    margin-left: 200px;
    margin-top: 800px;
  }
  .right-arm {
    margin-top: 1050px;
  }
  #kirbyText {
    top: 820px;
    margin-left: 600px;
  }
}

@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 3vw;
    width: 700px;
  }
  p {
    font-size: 2.5vw;
    width: 700px;
  }
  .container {
    margin-left: 200px;
    margin-top: 650px;
  }
  .right-arm {
    margin-top: 860px;
  }
  #kirbyText {
    top: 650px;
    margin-left: 500px;
  }
  .heart {
    margin-left: 670px;
    margin-top: 790px;
  }
}

@media only screen and (max-width: 900px) {
  h2 {
    font-size: 3.5vw;
    width: 600px;
  }
  p {
    width: 600px;
  }
  .container {
    margin-left: 100px;
    margin-top: 630px;
  }
  .right-arm {
    margin-top: 860px;
    margin-left: 20px;
  }
  #kirbyText {
    top: 660px;
    margin-left: 400px;
  }
  .heart {
    margin-left: 570px;
    margin-top: 780px;
  }
}

#cheeks {
  width: 330px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
  #cheeks {
    width: 275px;
  }
  #kirbyText {
    margin-left: 350px;
    margin-top: 60px;
    font-size: 90px;
  }
  h2 {
    width: 500px;
  }
  p {
    width: 500px;
  }
  .container {
    margin-top: 580px;
    width: 500px;
    height: 500px;
  }
  .body {
    width: 275px;
    height: 275px;
    margin-top: 80px;
  }
  .left-arm {
    width: 92px;
    height: 175px;
    margin-top: 150px;
    margin-right: 40px;
  }
  .right-arm {
    width: 92px;
    height: 215px;
    margin-top: 790px;
    margin-left: 40px;
  }
  .left-leg {
    margin-top: 315px;
    width: 84px;
    height: 92px;
  }
  .right-leg {
    margin-top: 320px;
    width: 84px;
    height: 92px;
  }
  .left-eye {
    width: 38px;
    height: 84px;
    margin-right: 90px;
  }
  .right-eye {
    width: 38px;
    height: 84px;
    margin-left: 90px;
  }
  .eyeShine {
    width: 21px;
    height: 34px;
  }
  .blueBottom {
    width: 18px;
    height: 39px;
    margin-top: 5px;
  }
  .mouth {
    width: 35px;
    height: 28px;
  }
  .tongue {
    width: 17px;
    height: 6px;
    left: 330px;
    margin-top: 21px;
  }
  .right-cheek {
    width: 42px;
    height: 30px;
  }
  .left-cheek {
    width: 42px;
    height: 30px;
  }
  .heart {
    width: 60px;
    height: 60px;
    margin-top: 675px;
    margin-left: 500px;
  }
  .heart:before {
    width: 60px;
    height: 60px;
  }
  .heart:after {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .left-cheek {
    right: 205px;
  }
  #kirbyText {
    margin-left: 250px;
    margin-top: 180px;
  }
  .right-arm {
    margin-top: 910px;
    margin-left: 60px;
  }
  .heart {
    width: 60px;
    height: 60px;
    margin-top: 795px;
    margin-left: 500px;
  }
  .container {
    margin-top: 700px;
  }
  h1 {
    font-size: 7.5vw;
  }
  h2 {
    width: 400px;
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
    width: 400px;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    width: 400px;
    font-size: 5vw;
  }
  p {
    font-size: 4vw;
    width: 400px;
  }
  .container {
    margin-top: 980px;
    width: 400px;
    height: 400px;
  }
  #cheeks {
    width: 225px;
  }
  .body {
    width: 225px;
    height: 225px;
    margin-top: 60px;
  }
  .left-arm {
    width: 77px;
    height: 140px;
    margin-top: 125px;
    margin-right: 80px;
  }
  .right-arm {
    width: 77px;
    height: 165px;
    margin-top: 1185px;
    margin-left: 90px;
  }
  .left-leg {
    margin-top: 250px;
    width: 68px;
    height: 84px;
    margin-left: 20px;
  }
  .right-leg {
    margin-top: 250px;
    width: 68px;
    height: 84px;
    margin-right: 20px;
  }
  .left-eye {
    width: 31px;
    height: 67px;
    margin-right: 70px;
  }
  .right-eye {
    width: 31px;
    height: 67px;
    margin-left: 70px;
  }
  .eyeShine {
    width: 15px;
    height: 26px;
    margin-left: 8px;
  }
  .blueBottom {
    width: 15px;
    margin-left: 8px;
    height: 29px;
    margin-top: 5px;
  }
  .mouth {
    width: 28px;
    height: 23px;
  }
  .tongue {
    width: 13px;
    height: 4px;
    margin-left: -36px;
    margin-top: 18px;
  }
  .right-cheek {
    width: 34px;
    height: 24px;
    margin-right: 30px;
  }
  .left-cheek {
    margin-left: 30px;
    width: 34px;
    height: 24px;
  }
  .heart {
    width: 50px;
    height: 50px;
    margin-top: 1035px;
    margin-left: 420px;
  }
  .heart:before {
    width: 50px;
    height: 50px;
    margin-left: 28px;
  }
  .heart:after {
    width: 50px;
    height: 50px;
    margin-top: 27px;
  }
  #kirbyText {
    margin-top: 460px;
  }
}

@media only screen and (max-width: 601px) {
  .container {
    margin-top: 800px;
  }
  #kirbyText {
    margin-top: 280px;
  }
  .right-arm {
    margin-top: 1020px;
  }
  .heart {
    margin-top: 850px;
  }
}

@media only screen and (max-width: 550px) {
  h2 {
    width: 330px;
    font-size: 5vw;
  }
  p {
    font-size: 4vw;
    width: 330px;
  }
  .container {
    margin-top: 800px;
    width: 300px;
    height: 300px;
  }
  #cheeks {
    width: 168px;
  }
  .body {
    width: 168px;
    height: 168px;
    margin-top: 60px;
  }
  .left-arm {
    width: 57px;
    height: 105px;
    margin-top: 125px;
    margin-right: 80px;
  }
  .right-arm {
    width: 57px;
    height: 124px;
    margin-top: 1185px;
    margin-left: 90px;
  }
  .left-leg {
    margin-top: 250px;
    width: 51px;
    height: 63px;
    margin-left: 20px;
  }
  .right-leg {
    margin-top: 250px;
    width: 51px;
    height: 63px;
    margin-right: 20px;
  }
  .left-eye {
    width: 24px;
    height: 51px;
    margin-right: 70px;
  }
  .right-eye {
    width: 24px;
    height: 51px;
    margin-left: 70px;
  }
  .eyeShine {
    width: 12px;
    height: 20px;
    margin-left: 8px;
  }
  .blueBottom {
    width: 12px;
    margin-left: 8px;
    height: 22px;
    margin-top: 5px;
  }
  .mouth {
    width: 21px;
    height: 17px;
  }
  .tongue {
    width: 10px;
    height: 3px;
    margin-left: -36px;
    margin-top: 18px;
  }
  .right-cheek {
    width: 26px;
    height: 18px;
    margin-right: 30px;
  }
  .left-cheek {
    margin-left: 30px;
    width: 26px;
    height: 18px;
  }
  .heart {
    width: 50px;
    height: 50px;
    margin-top: 1035px;
    margin-left: 420px;
  }
  .heart:before {
    width: 50px;
    height: 50px;
    margin-left: 28px;
  }
  .heart:after {
    width: 50px;
    height: 50px;
    margin-top: 27px;
  }
  #kirbyText {
    margin-top: 280px;
    font-size: 60px;
  }
}
/*# sourceMappingURL=index.css.map */