@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
html {
  font-size: 5px;
  scroll-behavior: smooth;
}

#arms {
  margin-top: 100px;
  width: 810px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
}

#legs {
  margin-top: 390px;
  width: 310px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
}

#cheeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html {
  background-color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5)) !important;
  background: linear-gradient(#e66465, #9198e5) !important;
}

body {
  background-repeat: no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

#githubOpen {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  color: #000000;
  font-size: 5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#paraBottom, #paraTop {
  color: #000000;
  font-size: 5rem;
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#header {
  top: 1000px;
  width: 830px;
  display: block;
  margin-left: 100px;
  position: absolute;
}

h2 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6rem;
  color: #000000;
  -webkit-animation-name: text;
          animation-name: text;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#aboutMe {
  font-size: 10em;
}

#bottom, #aboutMe {
  border-bottom: 3px #000000 solid;
  border-radius: 2px;
  padding-bottom: 20px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#paraTop {
  margin-top: 20px;
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/*KIRBY @LeonTrii GitHub*/
.heart {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #ffa6f6;
  margin-top: 320px;
  margin-left: 430px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-box-shadow: -1px -1px 5px 3px rgba(255, 166, 246, 0.3);
          box-shadow: -1px -1px 5px 3px rgba(255, 166, 246, 0.3);
  z-index: 9;
  -webkit-animation-name: beat;
          animation-name: beat;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heart::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffa6f6;
  margin-top: 35px;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
          box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
}

.heart::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffa6f6;
  margin-left: 35px;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
          box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(225deg);
            transform: scale(1) rotate(225deg);
    /* Rotate because I set the degrees of the shape to 225 */
  }
  50% {
    -webkit-transform: scale(0.7) rotate(225deg);
            transform: scale(0.7) rotate(225deg);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(225deg);
            transform: scale(1) rotate(225deg);
    /* Rotate because I set the degrees of the shape to 225 */
  }
  50% {
    -webkit-transform: scale(0.7) rotate(225deg);
            transform: scale(0.7) rotate(225deg);
  }
}

.container {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 5px;
  margin-left: 1100px;
  width: 600px;
  background-color: #f7ecfa;
  height: 600px;
  margin-top: 450px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 100px rgba(10, 11, 26, 0.25);
          box-shadow: 20px 20px 100px rgba(10, 11, 26, 0.25);
}

.body {
  width: 330px;
  height: 330px;
  margin-top: 110px;
  border-radius: 50%;
  background: #ffa6c9;
  -webkit-box-shadow: 1px 1px 5px 7px rgba(255, 166, 201, 0.4);
          box-shadow: 1px 1px 5px 7px rgba(255, 166, 201, 0.4);
  z-index: 1;
}

.left-arm {
  width: 110px;
  height: 210px;
  margin-top: 100px;
  border-radius: 2em;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 50px;
  background: #ffa6c9;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.25);
          box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.25);
  z-index: 0;
}

.right-arm {
  width: 105px;
  height: 220px;
  position: relative;
  border-radius: 2em;
  margin-top: -50px;
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 100px;
  background: #ffa6c9;
  z-index: 0;
  -webkit-animation-name: kirby-wave;
          animation-name: kirby-wave;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-box-shadow: 5px 5px 10px rgba(30, 30, 10, 0.2);
          box-shadow: 5px 5px 10px rgba(30, 30, 10, 0.2);
}

@-webkit-keyframes kirby-wave {
  0% {
    top: 10vh;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 10vh;
  }
}

@keyframes kirby-wave {
  0% {
    top: 10vh;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 10vh;
  }
}

.left-leg {
  width: 100px;
  height: 110px;
  background: #ff4747;
  z-index: 0;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
          box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
}

.right-leg {
  width: 100px;
  height: 110px;
  background: #ff4747;
  z-index: 0;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 75px;
  -webkit-box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
          box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
}

.left-eye {
  width: 45px;
  height: 100px;
  border-radius: 50%;
  background: black;
  margin-top: 50px;
  margin-right: 105px;
}

.right-eye {
  width: 45px;
  height: 100px;
  border-radius: 50%;
  background: black;
  margin-top: 50px;
  margin-left: 105px;
}

.eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.eyeShine {
  width: 25px;
  height: 40px;
  border-radius: 50%;
  background: white;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 5px 4px #282881;
          box-shadow: 0px 0px 5px 4px #282881;
}

.blueBottom {
  width: 23px;
  height: 35px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00008b), color-stop(#3232a2), to(#5a5ab4));
  background: linear-gradient(#00008b, #3232a2, #5a5ab4);
  margin-left: 10.9px;
  margin-top: 16px;
  position: absolute;
}

.mouth {
  width: 42px;
  height: 33px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13% 13% 50% 50%;
  background: #d80a3e;
}

.tongue {
  width: 28px;
  height: 12px;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #ac0831;
  border-radius: 13% 13% 50% 50%;
}

.right-cheek {
  display: inline;
  width: 50px;
  height: 35px;
  margin-right: 50px;
  border-radius: 50%;
  background: #ff8dba;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-box-shadow: 1px 1px 5px 10px #ff8dba;
          box-shadow: 1px 1px 5px 10px #ff8dba;
}

.left-cheek {
  margin-left: 50px;
  display: inline;
  width: 50px;
  height: 35px;
  border-radius: 50%;
  background: #ff8dba;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-box-shadow: 1px 1px 5px 10px #ff8dba;
          box-shadow: 1px 1px 5px 10px #ff8dba;
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1) rotate(225deg);
            transform: scale(1) rotate(225deg);
    /* Rotate because I set the degrees of the shape to 225 */
  }
  50% {
    -webkit-transform: scale(0.7) rotate(225deg);
            transform: scale(0.7) rotate(225deg);
  }
}

#kirbyText {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  z-index: 5;
  margin-top: -60px;
  font-size: 120px;
  color: #ffa6c9;
  font-family: 'Comforter', cursive;
}

@media (max-width: 1760px) {
  #aboutMe, #bottom, #paraTop, #paraBottom {
    width: 780px;
  }
  .container {
    margin-left: 1000px;
  }
}

@media (max-width: 1350px) {
  .right-arm {
    position: relative !important;
    margin-right: 0;
  }
  .left-arm {
    margin-left: 0;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200em;
  }
  h1 {
    font-size: 15em;
  }
  h2 {
    font-size: 6em;
  }
  #githubOpen {
    font-size: 1em;
  }
  p {
    font-size: 4.8em;
  }
  #header {
    width: 163em;
  }
  body {
    height: 4950px;
  }
}

@media (max-width: 1200px) {
  body {
    height: 5950px;
  }
}

@media (max-width: 940px) {
  #kirbyText {
    font-size: 18em;
    margin-top: -80px;
  }
  h1 {
    font-size: 9em;
  }
  h2 {
    font-size: 6em;
  }
  p {
    font-size: 3.8em;
  }
  #githubOpen {
    font-size: 1em;
  }
  #paraTop, #paraBottom {
    font-size: 4.6em;
  }
  #header {
    width: 420px;
  }
  #arms {
    width: 605px;
    margin-top: 70px;
  }
  #legs {
    margin-top: 276px;
  }
  .tongue {
    top: 14px;
  }
  .container {
    width: 500px;
    height: 500px;
    margin-top: 1174px;
    margin-left: auto;
    margin-right: auto;
  }
  .body {
    width: 275px;
    height: 275px;
    margin-top: 50px;
  }
  .right-leg {
    width: 83px;
    height: 92px;
  }
  .left-leg {
    width: 83px;
    height: 92px;
  }
  .right-arm {
    width: 87px;
    height: 192px;
    margin-top: -70px;
  }
  .left-arm {
    width: 92px;
    height: 172px;
    margin-top: 40px;
  }
  .left-cheek {
    width: 41px;
    height: 29px;
  }
  .right-cheek {
    width: 41px;
    height: 29px;
  }
  .mouth {
    width: 34px;
    height: 27px;
  }
  .left-eye {
    width: 100px;
    height: 83px;
    margin-left: 1vw;
  }
  .right-eye {
    width: 100px;
    height: 83px;
    margin-right: 1vw;
  }
  .eyeShine {
    width: 18px;
    height: 38px;
    margin-right: 1.5vw;
  }
  .blueBottom {
    width: 18px;
    height: 28px;
    margin-top: 7px;
    margin-right: 2vw;
  }
  body {
    height: 6000px;
  }
}

@-webkit-keyframes kirby-wave-short {
  0% {
    top: 5vh;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 5vh;
  }
}

@keyframes kirby-wave-short {
  0% {
    top: 5vh;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 5vh;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 9em;
  }
  h2 {
    font-size: 4.5em;
  }
  #githubOpen {
    font-size: 1em;
  }
  #paraTop, #paraBottom {
    font-size: 3em;
  }
  #header {
    width: 350px;
  }
  .container {
    width: 280px;
    height: 300px;
    margin-top: 800px;
  }
  #kirbyText {
    font-size: 56px;
  }
  #cheeks {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
  }
  #arms {
    margin-top: 45px;
    width: 380px;
  }
  .body {
    width: 170px;
    height: 170px;
    margin-top: 0px;
  }
  .tongue {
    top: 8px;
    width: 18px;
    height: 8px;
  }
  #legs {
    margin-top: 145px;
    width: 150px;
  }
  .right-leg {
    width: 53px;
    height: 62px;
  }
  .left-leg {
    width: 53px;
    height: 62px;
  }
  .right-arm {
    width: 47px;
    height: 122px;
    -webkit-animation-name: kirby-wave-short;
            animation-name: kirby-wave-short;
  }
  .left-arm {
    width: 52px;
    height: 122px;
    margin-top: 20px;
  }
  .left-cheek {
    width: 31px;
    height: 22px;
  }
  .right-cheek {
    width: 31px;
    height: 22px;
  }
  .mouth {
    top: -10px;
    width: 24px;
    height: 17px;
    position: relative;
  }
  .left-eye {
    width: 25px;
    height: 50px;
    margin-top: 20px;
  }
  .right-eye {
    width: 25px;
    height: 50px;
    margin-top: 20px;
  }
  .eyeShine {
    width: 12px;
    height: 22px;
    margin-left: 1.3vw;
  }
  .blueBottom {
    width: 10px;
    height: 18px;
    margin-top: 2px;
    margin-left: 1.4vw;
  }
  body {
    height: 4750px;
  }
}

@media (max-width: 590px) {
  body {
    height: 4550px;
  }
}

@media (max-width: 530px) {
  body {
    height: 4150px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 4em;
  }
  #paraTop, #paraBottom {
    font-size: 3em;
  }
  #header {
    width: 250px;
    margin-left: 50px;
  }
  .container {
    width: 200px;
    height: 230px;
    margin-top: 1000px;
  }
  #kirbyText {
    font-size: 50px;
  }
  #cheeks {
    display: none;
  }
  #arms {
    margin-top: 5px;
    width: 240px;
  }
  .body {
    width: 115px;
    height: 115px;
    margin-top: -10px;
  }
  .tongue {
    top: 7px;
    width: 12px;
    height: 6px;
  }
  #legs {
    margin-top: 85px;
    width: 120px;
  }
  .right-leg {
    width: 35px;
    height: 42px;
  }
  .left-leg {
    width: 35px;
    height: 42px;
  }
  .right-arm {
    width: 30px;
    margin-top: -40px;
    height: 82px;
    -webkit-animation-name: kirby-wave-short;
            animation-name: kirby-wave-short;
  }
  .left-arm {
    width: 32px;
    height: 82px;
    margin-top: 20px;
  }
  .mouth {
    margin-top: 20px;
    width: 16px;
    height: 13px;
  }
  .left-eye {
    width: 17px;
    height: 33px;
    margin-top: 20px;
  }
  .right-eye {
    width: 17px;
    height: 33px;
    margin-top: 20px;
  }
  .eyeShine {
    width: 9px;
    height: 14px;
    margin-left: 1.3vw;
    -webkit-box-shadow: 0px 0px 3px 2px #282881;
            box-shadow: 0px 0px 3px 2px #282881;
  }
  .blueBottom {
    width: 7px;
    height: 12px;
    margin-top: 2px;
    margin-left: 1.4vw;
  }
}

@media (max-width: 370px) {
  #header {
    width: 200px;
  }
  .container {
    margin-top: 1150px;
  }
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 3.5em;
  }
  p {
    font-size: .5em;
  }
  #legs {
    margin-top: 85px;
  }
}
/*# sourceMappingURL=index.css.map */