@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$font: 'Josefin Sans', sans-serif;
$white: #ffffff;
$black: #000000;

html {
    font-size: 5px;
    scroll-behavior: smooth;
}

#arms {
    margin-top: 100px;
    width: 810px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

#legs {
    margin-top: 390px;
    width: 310px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

#cheeks {
    display: flex;
    justify-content: space-evenly;
}

body {
    background: linear-gradient(60deg, #f3fd93, #abfea8, #fcb79c, #fc6666, #fc7474, #ffbdf6, #c38afd, #9ea5f8, #9ff6f8);
    background-repeat: no-repeat;
    height: 4000px;
    overflow-y: auto;
    overflow-x: hidden;
}

#githubOpen {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: $black;
    font-size: 5rem;
    text-decoration-line: underline;
}

#paraBottom, #paraTop {
    color: $black;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 5rem;
    animation-name: text;
    animation-iteration-count: 1;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

#header {
    top: 80px;
    width: 570px;
    display: block;
    margin-left: 100px;
    position: absolute;
}

h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 12rem;
    color: $black;
    margin-top: 50px;
    margin-bottom: 30px;
    animation-name: text;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    border-bottom: 3px solid;
}

h2 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 6rem;
    color: $black;
    animation-name: text;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

#bottom {
    border-bottom: 3px $black solid;
    border-radius: 2px;
    padding-bottom: 20px;
}

#paraTop {
    margin-top: 20px;
}


@keyframes text {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

/*KIRBY @icantfindmyspider GitHub*/

.container {
    font-size: 5px;
    margin-left: 700px;
    width: 600px;
    background-color: rgb(247, 236, 250);
    height: 600px;
    margin-top: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: center; 
    box-shadow: 80px 80px 100px rgba(10, 11, 26, 0.25);
}

.body {
    width: 330px;
    height: 330px;
    margin-top: 110px;
    border-radius: 50%;
    background: #ffa6c9;
    box-shadow: 1px 1px 5px 7px rgba(255, 166, 201, 0.4);
    z-index: 1;
}

.left-arm {
    width: 110px;
    height: 210px; 
    margin-top: 100px;
    border-radius: 2em;
    transform: rotate(-40deg);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 50px;
    background: #ffa6c9;
    box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.25);
    z-index: 0;
}

.right-arm {
    width: 105px;
    height: 220px;
    position: relative;
    border-radius: 2em;
    margin-top: -50px;
    transform: rotate(-240deg);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 100px;
    background: #ffa6c9;
    z-index: 0;
    animation-name: kirby-wave;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 5px 5px 10px rgba(30, 30, 10, 0.2);
}

@keyframes kirby-wave {
    0% {
      top: 10vh;		   
    } 
    50% {
      top: 10px;
    }
    100% {
      top: 10vh;
  }
}

.left-leg {
    width: 100px;
    height: 110px;
    background: #ff4747;
    z-index: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
}

.right-leg {
    width: 100px;
    height: 110px;
    background: #ff4747;
    z-index: 0;
    transform: rotate(-25deg);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 75px;
    box-shadow: 0px 10px 29px -5px rgba(30, 30, 10, 0.55);
}

.left-eye {
    width: 45px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin-top: 50px;
    margin-right: 105px;
}

.right-eye {
    width: 45px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin-top: 50px;
    margin-left: 105px;
}

.eyes {
    display: flex;
    justify-content: space-evenly;
}

.eyeShine {
    width: 25px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px 4px #282881;
}

.blueBottom {
    width: 23px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(#00008b, #3232a2, #5a5ab4);
    margin-left: 10.9px;
    margin-top: 16px;
    position: absolute;
}

.mouth {
    width: 42px;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13% 13% 50% 50%;
    background: #d80a3e;
}

.tongue {
    width: 28px;
    height: 12px;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #ac0831;
    border-radius: 13% 13% 50% 50%;
}

.right-cheek {
    display: inline;
    width: 50px;
    height: 35px;
    margin-right: 50px;
    border-radius: 50%;
    background: #ff8dba;
    transform: rotate(15deg);
    box-shadow: 1px 1px 5px 10px #ff8dba;
}

.left-cheek {
    margin-left: 50px;
    display: inline;
    width: 50px;
    height: 35px;
    border-radius: 50%;
    background: #ff8dba;
    transform: rotate(-15deg);
    box-shadow: 1px 1px 5px 10px #ff8dba;
}

.heart {
    width: 80px;
    height: 80px;
    position: absolute;
    background: #ffa6f6;
    margin-top: -200px;
    margin-left: 1150px;
    transform: rotate(225deg);
    box-shadow: -1px -1px 5px 3px rgba(255, 166, 246, 0.3);
    z-index: 9;
    animation-name: beat;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.heart::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffa6f6;
    margin-top: 35px;
    box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
}

.heart::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffa6f6;
    margin-left: 35px;
    box-shadow: 3px 3px 5px 5px rgba(255, 166, 246, 0.3);
}

@keyframes beat {
    0% {
      transform: scale(1) rotate(225deg); /* Rotate because I set the degrees of the shape to 225 */
    }
    50% {
      transform: scale(0.7) rotate(225deg);
    }
  }

#kirbyText {
    position: absolute;
    z-index: 5;
    margin-top: -60px;
    font-size: 120px;
    color: #ffa6c9;
    font-family: 'Comforter', cursive;
}

@media (max-width: 1350px) {
    .right-arm {
        position: relative !important;
        margin-right: 0;
    }

    .left-arm {
        margin-left: 0;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200em;
    }

    h1 {
        font-size: 15em;
    }

    h2 {
        font-size: 6em;
    }

    #githubOpen {
        font-size: 1em;
    }

    p {
        font-size: 4.8em;
    }

    #header {
        width: 163em;
    }

    .heart {
        margin-left: 65vw;
    }

    body {
        height: 4950px;
    }
}

@media (max-width: 1200px) {
    body {
        height: 5950px;
    }
}

@media (max-width: 940px) {
    #kirbyText {
        font-size: 18em;
        margin-top: -80px;
    }

    h1 {
        font-size: 9em;
    }

    h2 {
        font-size: 6em;
    }

    p {
        font-size: 3.8em;
    }

    #githubOpen {
        font-size: 1em;
    }

    #paraTop, #paraBottom {
        font-size: 4.6em;
    }

    #header {
        width: 420px;
    }

    #arms {
        width: 605px;
        margin-top: 70px;
    }

    #legs {
        margin-top: 276px;
    }

    .tongue {
        top: 14px;
    }

    .container {
        width: 500px;
        height: 500px;
        margin-top: 1174px;
        margin-left: auto;
        margin-right: auto;
    }

    .body {
        width: 275px;
        height: 275px;
        margin-top: 50px
    }

    .right-leg {
        width: 83px;
        height: 92px;
    }

    .left-leg {
        width: 83px;
        height: 92px;
    }

    .right-arm {
        width: 87px;
        height: 192px;
        margin-top: -70px
    }

    .left-arm {
        width: 92px;
        height: 172px;
        margin-top: 40px
    }

    .left-cheek {
        width: 41px;
        height: 29px;
    }

    .right-cheek {
        width: 41px;
        height: 29px;
    }

    .mouth {
        width: 34px;
        height: 27px;
    }

    .left-eye {
        width: 100px;
        height: 83px;
        margin-left: 1vw;
    }

    .right-eye {
        width: 100px;
        height: 83px;
        margin-right: 1vw;
    }

    .eyeShine {
        width: 18px;
        height: 38px;
        margin-right: 1.5vw;
    }

    .blueBottom {
        width: 18px;
        height: 28px;
        margin-top: 7px;
        margin-right: 2vw;
    }

    .heart {
        width: 50px;
        height: 50px;
    }

    .heart::after {
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }
    
    .heart::before {
        width: 50px;
        height: 50px;
        margin-left: 30px;
    }

    body {
        height: 6000px;
    }
}

@keyframes kirby-wave-short {
    0% {
      top: 5vh;		   
    } 
    50% {
      top: 5px;
    }
    100% {
      top: 5vh;
  }
}

@media (max-width: 640px) {
    h1 {
        font-size: 9em;
    }

    h2 {
        font-size: 4.5em;
    }

    #githubOpen {
        font-size: 1em;
    }

    #paraTop, #paraBottom {
        font-size: 3em;
    }

    #header {
        width: 350px
    }

    .container {
        width: 280px;
        height: 300px;
        margin-top: 800px;
    }

    #kirbyText {
        font-size: 56px;
    }

    #cheeks {
        width: 130px;
        margin-left: auto;
        margin-right: auto;
    }

    #arms {
        margin-top: 45px;
        width: 380px;
    }

    .body {
        width: 170px;
        height: 170px;
        margin-top: 0px;
    }

    .tongue {
        top: 8px;
        width: 18px;
        height: 8px;
    }
 
    #legs {
        margin-top: 145px;
        width: 150px;
    }
    
    .right-leg {
        width: 53px;
        height: 62px;
    }

    .left-leg {
        width: 53px;
        height: 62px;
    }

    .right-arm {
        width: 47px;
        height: 122px;
        animation-name: kirby-wave-short;
    }

    .left-arm {
        width: 52px;
        height: 122px;
        margin-top: 20px;
    }

    .left-cheek {
        width: 31px;
        height: 22px;
    }

    .right-cheek {
        width: 31px;
        height: 22px;
    }

    .mouth {
        top: -10px;
        width: 24px;
        height: 17px;
        position: relative;
    }

    .left-eye {
        width: 25px;
        height: 50px;
        margin-top: 20px;
    }

    .right-eye {
        width: 25px;
        height: 50px;
        margin-top: 20px;
    }

    .eyeShine {
        width: 12px;
        height: 22px;
        margin-left: 1.3vw;
    }

    .blueBottom {
        width: 10px;
        height: 18px;
        margin-top: 2px;
        margin-left: 1.4vw;
    }

    .heart {
        margin-top: -85px;
        margin-left: 63vw;
    }

    body {
        height: 4750px;
    }
}   

@media (max-width: 590px) {
    body {
        height: 4550px;
    }
}

@media (max-width: 530px) {
    body {
        height: 4150px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 4em;
    }

    #paraTop, #paraBottom {
        font-size: 3em;
    }

    #header {
        width: 250px;
        margin-left: 50px;
    }

    .container {
        width: 200px;
        height: 230px;
        margin-top: 1000px;
    }

    #kirbyText {
        font-size: 50px;
    }

    #cheeks {
        display: none;
    }

    #arms {
        margin-top: 5px;
        width: 240px;
    }

    .body {
        width: 115px;
        height: 115px;
        margin-top: -10px;
    }

    .tongue {
        top: 7px;
        width: 12px;
        height: 6px;
    }

    .heart {
        width: 40px;
        height: 40px;
        margin-left: 64vw;
    }
    
    .heart::after {
        width: 40px;
        height: 40px;
        margin-top: 25px;
    }
    
    .heart::before {
        width: 40px;
        height: 40px;
        margin-left: 25px;
    }

    #legs {
        margin-top: 85px;
        width: 120px;
    }
    
    .right-leg {
        width: 35px;
        height: 42px;
    }

    .left-leg {
        width: 35px;
        height: 42px;
    }

    .right-arm {
        width: 30px;
        margin-top: -40px;
        height: 82px;
        animation-name: kirby-wave-short;
    }

    .left-arm {
        width: 32px;
        height: 82px;
        margin-top: 20px;
    }

    .mouth {
        margin-top: 20px;
        width: 16px;
        height: 13px;
    }

    .left-eye {
        width: 17px;
        height: 33px;
        margin-top: 20px;
    }

    .right-eye {
        width: 17px;
        height: 33px;
        margin-top: 20px;
    }

    .eyeShine {
        width: 9px;
        height: 14px;
        margin-left: 1.3vw;
        box-shadow: 0px 0px 3px 2px #282881;
    }

    .blueBottom {
        width: 7px;
        height: 12px;
        margin-top: 2px;
        margin-left: 1.4vw;
    }
}

@media (max-width: 370px) {
    #header {
        width: 200px;
    }

    .container {
        margin-top: 1150px;
    }

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3.5em;
    }

    p {
        font-size: .5em;
    }

    #legs {
        margin-top: 85px;
    }


}
