@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#drum-machine {
    width: 485px;
    height: 510px;
    background-color: #fff;
    margin-top: -230px;
    margin-left: 640px;
    border: 23px inset #e9e9eb;
    box-shadow: 50px 50px 80px rgba(10, 11, 26, 0.25);
}

#displayDrum {
    width: 393px;
    border: #2c2f33 5px solid;
    height: 425px;
    margin: auto;
    margin-left: 25px;
    margin-top: 25px;
    background-color: rgb(228, 224, 224);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons {
    font-size: 60px;
    color: rgb(242, 240, 240);
    font-family: 'Montserrat', sans-serif;
}

.buttons:focus {
    outline: none;
}

#F, #V, #C {
    border: 6px outset #424fd6;
    background-color: #4b57d6;
    box-shadow: 2px 2px 5px 2px #6770d8;
}

#F:hover, #V:hover, #C:hover {
    border: 6px outset #404cd5;
    background-color: #3e49cb;
}

#D, #S, #E {
    border: 6px outset #1fac13;
    background-color: #45c03a;
    box-shadow: 2px 2px 5px 2px #45c43a;
}

#D:hover, #S:hover, #E:hover {
    border: 6px outset #2cac21;
    background-color: #29b61c;
    box-shadow: 2px 2px 5px 2px #4cd540;
}

#Q, #W, #two2, #one1 {
    border: 6px outset #d12836;
    background-color: #d5404c;
    box-shadow: 2px 2px 5px 2px #c74c56;
}

#Q:hover, #W:hover, #two2:hover, #one1:hover {
    border: 6px outset #ce1827;
    background-color: #ce2b39;
    box-shadow: 2px 2px 5px 2px #c44953;
}

#A, #Z {
    border: 6px outset #dccd28;
    background-color: #d5c940;
    box-shadow: 2px 2px 5px 2px #d5c940; 
}

#A:hover, #Z:hover {
    border: 6px outset #dacb24;
    background-color: #d0c22f;
    box-shadow: 2px 2px 5px 2px #d0c444; 
}

#X {
    border: 6px outset #7736d3;
    background-color: #7f40d5;
    box-shadow: 2px 2px 5px 2px #7f40d5;
}

#X:hover {
    border: 6px outset #6e21da;
    background-color: #7636d0;
    box-shadow: 2px 2px 5px 2px #7f40d5;
}

#three3, #four4, #R {
    border: 6px outset #e87319;
    background-color: #ed7a22;
    box-shadow: 2px 2px 5px 2px #d58040;
}

#three3:hover, #four4:hover, #R:hover {
    border: 6px outset #df6f19;
    background-color: #e9741b;
    box-shadow: 2px 2px 5px 2px #d67c36;
}

@media (max-width: 1350px) {
    #drum-machine {
        margin-left: 500px;
    }
}

@media (max-width: 1200px) {
    #drum-machine {
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media (max-width: 640px) {
    #drum-machine {
        width: 385px;
        height: 410px;
    }

    .buttons {
        font-size: 40px;
    }

    #displayDrum {
        width: 293px;
        height: 325px;
    }
}

@media (max-width: 530px) {
    #drum-machine {
        width: 265px;
        height: 300px;
        border: 13px inset #e9e9eb;
    }

    .buttons {
        font-size: 28px;
    }

    #displayDrum {
        width: 193px;
        height: 225px;
    }
}

@media (max-width: 410px) {
    #drum-machine {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 380px) {
    #drum-machine {
        width: 235px;
        height: 270px;
    }

    #displayDrum {
        width: 163px;
        height: 195px;
    }

    .buttons {
        font-size: 23px;
    }
}