@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

$font: 'Poppins', sans-serif;
$white: #f1f1f1;
$black: #000;

#containerVisual {
    position: absolute;
    width: 360px;
    height: 730px;
    border-radius: 40px;
    margin-top: 50px;
    margin-left: 820px;
    background: linear-gradient(#a64ffc, #626ffe);
    box-shadow: 15px 20px 30px 20px rgba(0, 0, 0, 0.1);
}

#boxOne {
    z-index: 2;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-left: 1380px;
    margin-top: 485px;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #f299fd, #ff9a9a);
}

#boxTwo {
    z-index: 1;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-left: 1500px;
    margin-top: 255px;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #ee96ca, #fcc999);
}

#circleOne {
    z-index: 1;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-left: 1400px;
    margin-top: 470px;
    width: 130px;
    height: 130px;
    border-radius: 400px;
    background: linear-gradient(#6d79ff, #9ff6f8);
}

#triangleScroll {
    left: 90px;
    position: fixed;
    border-style: inset;
    border-width: 0 75px 129.9px 75px;
    border-color: transparent transparent #f9cfff transparent;
}

#rectangleOne {
    z-index: 0;
    box-shadow: 20px 20px 60px 5px rgba(0, 0, 0, 0.1), -10px -10px 100px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-left: 1100px;
    margin-top: 280px;
    width: 130px;
    height: 500px;
    background: linear-gradient(65deg,#00ebcce0, #9af797);
}

#boxThree {
    z-index: 1;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-left: 200px;
    margin-top: 560px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background: linear-gradient(#6792f0, #9ea5f8);
}

body {
    background-color: #fafafa;
}

.welcome {
    font-family: $font;
    color: $black;
    text-shadow: 7px 7px #d9d8da;
    font-size: 38rem !important;
}

#toMy {
    margin-left: 200px;
}

svg {
    position: absolute;
}

#GitHubIcon, #TwitterIcon {
    margin-left: 1250px;
    margin-top: 350px;
    position: absolute;
    width: 190px;
    height: 190px;
    transform: rotate(30deg) skew(-28deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#TwitterIcon {
    margin-left: 1430px;
    margin-top: 450px
}

div a span {
    color: $black;
    position: absolute;
    font-size: 22em;
    width: 180px;
    height: 180px;
    background: #e5ceff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#TwitterIcon span {
    background-color: #c5d7fe !important;
}

#TwitterIcon span:hover {
    background-color: #8db0fc !important;
}

#GitHubIcon span:hover {
    background-color: #ca9efd;
}

div a span:nth-child(5) {
    transform: translate(-120px, -120px);
}

div a span:nth-child(4) {
    transform: translate(-90px, -90px);
    opacity: .8;
}

div a span:nth-child(3) {
    transform: translate(-60px, -60px);
    opacity: .6;
}

div a span:nth-child(2) {
    transform: translate(-30px, -30px);
    opacity: .4;
}

div a span:nth-child(1) {
    opacity: .2;
}

#bubbles {
    margin-left: 1200px;

}

#bubbles div:nth-child(1) {
    position: absolute;
    margin-top: 200px;
    margin-left: 80px;
    width: 150px;
    height: 150px;
    border-radius: 400px;
    background: linear-gradient(#b6ffd7, #dccbfc);
}

#bubbles div:nth-child(2) {
    position: absolute;
    margin-top: 390px;
    width: 230px;
    height: 230px;
    border-radius: 400px;
    background: linear-gradient(#befdd3, #bbc9ff);
}

#bubbles div:nth-child(3) {
    position: absolute;
    margin-left: 280px;
    margin-top: 330px;
    width: 200px;
    height: 200px;
    border-radius: 400px;
    background: linear-gradient(#d9c2ff, #a9b9fa);
}

#bubbles div:nth-child(4) {
    position: absolute;
    margin-left: 100px;
    margin-top: 650px;
    width: 140px;
    height: 140px;
    border-radius: 400px;
    background: linear-gradient(#9caffc, #d1bdf9);
}

#bubbles div:nth-child(5) {
    position: absolute;
    margin-left: 360px;
    margin-top: 550px;
    width: 180px;
    height: 180px;
    border-radius: 400px;
    background: linear-gradient(#ffbdf7, #cab2fa);
}

#bubbles div:nth-child(6) {
    position: absolute;
    margin-left: 200px;
    margin-top: 750px;
    width: 250px;
    height: 250px;
    border-radius: 400px;
    background: linear-gradient(#c5caff, #c0fcfd);
}

#colorPads div:nth-child(1) {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotate(-30deg) skew(-28deg);
    background: linear-gradient(45deg, #ffbdf7, #cab2fa);
    filter: hue-rotate(48.39deg);
    margin-left: 1200px;
    margin-top: 320px;
}

#colorPads div:nth-child(2) {
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: 1450px;
    margin-top: 320px;
    transform: rotate(30deg) skew(28deg);
    background: linear-gradient(45deg, #d9f9ff, #d0baf9);
}

#colorPads div:nth-child(3) {
    position: absolute;
    width: 160px;
    height: 160px;
    margin-left: 1350px;
    margin-top: 550px;
    transform: rotate(30deg) skew(-28deg);
    background: linear-gradient(45deg, #9caffc, #d1bdf9);
    filter: hue-rotate(48.39deg);
}

#colorPads div:nth-child(4) {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-left: 1600px;
    margin-top: 580px;
    transform: rotate(10deg) skew(-28deg);
    background: linear-gradient(45deg, #c5caff, #c0fcfd);
    filter: hue-rotate(48.39deg);
}

#colorPads div:nth-child(5) {
    position: absolute;
    width: 130px;
    height: 130px;
    margin-left: 1640px;
    margin-top: 350px;
    transform: rotate(10deg) skew(28deg);
    background: linear-gradient(45deg, #beecfd, #bbffd4);
}