@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
#containerVisual {
  position: absolute;
  width: 360px;
  height: 730px;
  border-radius: 40px;
  margin-top: 50px;
  margin-left: 820px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a64ffc), to(#626ffe));
  background: linear-gradient(#a64ffc, #626ffe);
  -webkit-box-shadow: 15px 20px 30px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 20px 30px 20px rgba(0, 0, 0, 0.1);
}

#boxOne {
  z-index: 2;
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: 1380px;
  margin-top: 485px;
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, #f299fd, #ff9a9a);
}

#boxTwo {
  z-index: 1;
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: 1500px;
  margin-top: 255px;
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, #ee96ca, #fcc999);
}

#circleOne {
  z-index: 1;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: 1400px;
  margin-top: 470px;
  width: 130px;
  height: 130px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d79ff), to(#9ff6f8));
  background: linear-gradient(#6d79ff, #9ff6f8);
}

#triangleScroll {
  left: 90px;
  position: fixed;
  border-style: inset;
  border-width: 0 75px 129.9px 75px;
  border-color: transparent transparent #f9cfff transparent;
}

#rectangleOne {
  z-index: 0;
  -webkit-box-shadow: 20px 20px 60px 5px rgba(0, 0, 0, 0.1), -10px -10px 100px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 60px 5px rgba(0, 0, 0, 0.1), -10px -10px 100px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: 1100px;
  margin-top: 280px;
  width: 130px;
  height: 500px;
  background: linear-gradient(65deg, #00ebcce0, #9af797);
}

#boxThree {
  z-index: 1;
  -webkit-box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-left: 200px;
  margin-top: 560px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6792f0), to(#9ea5f8));
  background: linear-gradient(#6792f0, #9ea5f8);
}

body {
  background-color: #fafafa;
}

.welcome {
  font-family: "Poppins", sans-serif;
  color: #000;
  text-shadow: 7px 7px #d9d8da;
  font-size: 38rem !important;
}

#toMy {
  margin-left: 200px;
}

#GitHubIcon, #TwitterIcon, #CodePenIcon {
  margin-left: 1170px;
  margin-top: 350px;
  position: absolute;
  width: 190px;
  height: 190px;
  -webkit-transform: rotate(30deg) skew(-28deg);
          transform: rotate(30deg) skew(-28deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#TwitterIcon {
  margin-left: 1344px;
  margin-top: 450px;
}

#CodePenIcon {
  margin-top: 550px;
  margin-left: 1520px;
}

div a span {
  color: #000;
  position: absolute;
  font-size: 22em;
  width: 180px;
  height: 200px;
  background: #e5ceff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s;
  transition: .8s;
}

#TwitterIcon span {
  background-color: #c5d7fe !important;
}

#TwitterIcon span:hover {
  background-color: #8db0fc !important;
}

#CodePenIcon span {
  background-color: #fcc6ee;
}

#CodePenIcon span:hover {
  background-color: #ffa1e6;
}

#GitHubIcon span:hover {
  background-color: #ca9efd;
}

div a span:nth-child(5) {
  -webkit-transform: translate(-120px, -120px);
          transform: translate(-120px, -120px);
}

div a span:nth-child(4) {
  -webkit-transform: translate(-90px, -90px);
          transform: translate(-90px, -90px);
  opacity: .8;
}

div a span:nth-child(3) {
  -webkit-transform: translate(-60px, -60px);
          transform: translate(-60px, -60px);
  opacity: .6;
}

div a span:nth-child(2) {
  -webkit-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
  opacity: .4;
}

div a span:nth-child(1) {
  opacity: .2;
}

#bubbles div {
  z-index: -1;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
}

#bubbles div:nth-child(1) {
  margin-top: 200px;
  margin-left: 1280px;
  width: 150px;
  height: 150px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#b6ffd7), to(#dccbfc));
  background: linear-gradient(#b6ffd7, #dccbfc);
}

#bubbles div:nth-child(2) {
  margin-left: 1200px;
  margin-top: 390px;
  width: 230px;
  height: 230px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#befdd3), to(#bbc9ff));
  background: linear-gradient(#befdd3, #bbc9ff);
}

#bubbles div:nth-child(3) {
  margin-left: 1480px;
  margin-top: 330px;
  width: 200px;
  height: 200px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d9c2ff), to(#a9b9fa));
  background: linear-gradient(#d9c2ff, #a9b9fa);
}

#bubbles div:nth-child(4) {
  margin-left: 1300px;
  margin-top: 650px;
  width: 140px;
  height: 140px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9caffc), to(#d1bdf9));
  background: linear-gradient(#9caffc, #d1bdf9);
}

#bubbles div:nth-child(5) {
  margin-left: 1560px;
  margin-top: 550px;
  width: 180px;
  height: 180px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbdf7), to(#cab2fa));
  background: linear-gradient(#ffbdf7, #cab2fa);
}

#bubbles div:nth-child(6) {
  margin-left: 1400px;
  margin-top: 750px;
  width: 250px;
  height: 250px;
  border-radius: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5caff), to(#c0fcfd));
  background: linear-gradient(#c5caff, #c0fcfd);
}

#colorPads div {
  z-index: -1;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
}

#colorPads div:nth-child(1) {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(-30deg) skew(-28deg);
          transform: rotate(-30deg) skew(-28deg);
  background: linear-gradient(45deg, #ffbdf7, #cab2fa);
  -webkit-filter: hue-rotate(48.39deg);
          filter: hue-rotate(48.39deg);
  margin-left: 1200px;
  margin-top: 220px;
}

#colorPads div:nth-child(2) {
  width: 160px;
  height: 160px;
  margin-left: 1450px;
  margin-top: 320px;
  -webkit-transform: rotate(30deg) skew(28deg);
          transform: rotate(30deg) skew(28deg);
  background: linear-gradient(45deg, #d9f9ff, #d0baf9);
}

#colorPads div:nth-child(3) {
  width: 160px;
  height: 160px;
  margin-left: 1350px;
  margin-top: 500px;
  -webkit-transform: rotate(30deg) skew(-28deg);
          transform: rotate(30deg) skew(-28deg);
  background: linear-gradient(45deg, #9caffc, #d1bdf9);
  -webkit-filter: hue-rotate(48.39deg);
          filter: hue-rotate(48.39deg);
}

#colorPads div:nth-child(4) {
  width: 180px;
  height: 180px;
  margin-left: 1550px;
  margin-top: 580px;
  -webkit-transform: rotate(10deg) skew(-28deg);
          transform: rotate(10deg) skew(-28deg);
  background: linear-gradient(45deg, #c5caff, #c0fcfd);
  -webkit-filter: hue-rotate(48.39deg);
          filter: hue-rotate(48.39deg);
}

#colorPads div:nth-child(5) {
  width: 130px;
  height: 130px;
  margin-left: 1640px;
  margin-top: 350px;
  -webkit-transform: rotate(10deg) skew(28deg);
          transform: rotate(10deg) skew(28deg);
  background: linear-gradient(45deg, #beecfd, #bbffd4);
}

#colorPads div:nth-child(6) {
  width: 130px;
  height: 130px;
  margin-left: 1200px;
  margin-top: 650px;
  -webkit-transform: rotate(10deg) skew(48deg);
          transform: rotate(10deg) skew(48deg);
  background: linear-gradient(45deg, #bed4fd, #bbfdff);
}

#colorPads div:nth-child(7) {
  width: 130px;
  height: 130px;
  margin-left: 1400px;
  margin-top: 750px;
  -webkit-transform: rotate(10deg) skew(-18deg);
          transform: rotate(10deg) skew(-18deg);
  background: linear-gradient(45deg, #befdfa, #c1ffbb);
}

#colorPads div:nth-child(8) {
  width: 160px;
  height: 160px;
  margin-left: 1050px;
  margin-top: 750px;
  -webkit-transform: rotate(60deg) skew(18deg);
          transform: rotate(60deg) skew(18deg);
  background: linear-gradient(45deg, #fdbef6, #ffbbbb);
}

#colorPads div:nth-child(9) {
  width: 160px;
  height: 160px;
  margin-left: 1600px;
  margin-top: 800px;
  -webkit-transform: rotate(20deg) skew(18deg);
          transform: rotate(20deg) skew(18deg);
  background: linear-gradient(45deg, #fdbebe, #ffe4bb);
}

#colorPads div:nth-child(10) {
  width: 190px;
  height: 190px;
  margin-left: 1300px;
  margin-top: 900px;
  -webkit-transform: rotate(20deg) skew(-48deg);
          transform: rotate(20deg) skew(-48deg);
  background: linear-gradient(45deg, #fcbefd, #ffbbbb);
}

#rectangles div {
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
}

#rectangles div:nth-child(1) {
  position: absolute;
  width: 500px;
  height: 100px;
  margin-top: 350px;
  margin-left: 1060px;
  background: linear-gradient(45deg, #ebbefd, #bbbfff);
}

#rectangles div:nth-child(2) {
  position: absolute;
  width: 100px;
  height: 300px;
  margin-top: 530px;
  margin-left: 1160px;
  background: linear-gradient(45deg, #bee9fd, #bbbfff);
}

#rectangles {
  z-index: -1 !important;
}

#rectangles div:nth-child(3) {
  position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 500px;
  margin-left: 1360px;
  background: linear-gradient(45deg, #fdbebe, #ffd6bb);
}

#rectangles div:nth-child(4) {
  position: absolute;
  width: 400px;
  height: 100px;
  margin-top: 780px;
  margin-left: 1340px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: linear-gradient(45deg, #befdf8da, #d0ffbbe7);
}

#layers div {
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
}

#layers div:nth-child(1) {
  z-index: -1;
  width: 180px;
  height: 180px;
  margin-top: 460px;
  margin-left: 40px;
  background: linear-gradient(45deg, #c499ff, #e9cbff);
}

#layers div:nth-child(2) {
  z-index: -1;
  width: 180px;
  height: 180px;
  margin-top: 740px;
  margin-left: 210px;
  background: linear-gradient(45deg, #ff9add, #ffceef);
  background-color: #ffceef;
}

#layers div:nth-child(3) {
  z-index: -1;
  width: 180px;
  height: 180px;
  margin-top: 480px;
  margin-left: 330px;
  background: linear-gradient(45deg, #a0bbff, #cedcff);
}

#blobs div {
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
}

#blobs div:nth-child(1) {
  width: 300px;
  height: 300px;
  margin-top: 590px;
  margin-left: 1360px;
  border-radius: 34% 66% 70% 30% / 30% 50% 50% 70%;
  background: linear-gradient(45deg, #bee9fd, #bbbfff);
}

#blobs div:nth-child(2) {
  width: 200px;
  height: 200px;
  margin-top: 300px;
  margin-left: 1560px;
  border-radius: 79% 21% 59% 41% / 82% 73% 27% 18%;
  background: linear-gradient(45deg, #fdbebe, #fbb0ff);
}

#blobs div:nth-child(3) {
  width: 230px;
  height: 230px;
  margin-top: 200px;
  margin-left: 1260px;
  border-radius: 54% 46% 69% 31% / 17% 79% 21% 83%;
  background: linear-gradient(45deg, #befdc0, #b0d2ff);
}

#ticSquares div {
  position: absolute;
  -webkit-transition: .8s;
  transition: .8s;
}

#ticSquares div:nth-child(1) {
  width: 230px;
  height: 230px;
  margin-top: 200px;
  margin-left: 1260px;
  background: linear-gradient(45deg, #d4befd, #bbbfff);
}

#ticSquares div:nth-child(2) {
  width: 390px;
  height: 390px;
  margin-top: 500px;
  margin-left: 960px;
  background: linear-gradient(45deg, #9caffc, #d1bdf9);
  -webkit-filter: hue-rotate(48.39deg);
          filter: hue-rotate(48.39deg);
}

#ticSquares div:nth-child(3) {
  width: 160px;
  height: 160px;
  margin-top: 300px;
  margin-left: 1560px;
  background: linear-gradient(45deg, #9cd6fc, #e3ffdd);
  -webkit-filter: hue-rotate(48.39deg);
          filter: hue-rotate(48.39deg);
}

#ticSquares div:nth-child(4) {
  width: 180px;
  height: 180px;
  margin-top: 500px;
  margin-left: 1420px;
  background: linear-gradient(45deg, #9cd6fc, #e3ffdd);
}

#ticSquares div:nth-child(5) {
  width: 200px;
  height: 200px;
  margin-top: 740px;
  margin-left: 1520px;
  background: linear-gradient(45deg, #ffc7c7, #fcddff);
}

@media (max-width: 1900px) {
  #GitHubIcon, #TwitterIcon, #CodePenIcon {
    margin-left: 1170px;
    margin-top: 350px;
    width: 130px !important;
    height: 130px !important;
  }
  #TwitterIcon {
    margin-left: 1344px;
    margin-top: 450px;
  }
  #CodePenIcon {
    margin-top: 550px;
    margin-left: 1520px;
  }
  div a span {
    font-size: 20em;
    width: 160px;
    height: 160px;
  }
  #layers div:nth-child(1) {
    width: 150px;
    height: 150px;
    margin-top: 460px;
    margin-left: 40px;
  }
  #layers div:nth-child(2) {
    width: 150px;
    height: 150px;
    margin-top: 700px;
    margin-left: 210px;
  }
  #layers div:nth-child(3) {
    width: 150px;
    height: 150px;
    margin-top: 480px;
    margin-left: 330px;
  }
  #colorPads div:nth-child(1) {
    width: 200px;
    height: 200px;
    margin-left: 1100px;
    margin-top: 220px;
  }
  #colorPads div:nth-child(2) {
    width: 160px;
    height: 160px;
    margin-left: 1350px;
    margin-top: 320px;
  }
  #colorPads div:nth-child(3) {
    margin-left: 1200px;
  }
  #colorPads div:nth-child(4) {
    margin-left: 1450px;
  }
  #colorPads div:nth-child(5) {
    margin-left: 1540px;
  }
  #colorPads div:nth-child(6) {
    margin-left: 1120px;
  }
  #colorPads div:nth-child(7) {
    margin-left: 1300px;
  }
  #colorPads div:nth-child(8) {
    margin-left: 950px;
  }
  #colorPads div:nth-child(9) {
    margin-left: 1500px;
  }
  #colorPads div:nth-child(10) {
    margin-left: 1200px;
  }
  #bubbles div:nth-child(1) {
    margin-left: 1200px;
  }
  #bubbles div:nth-child(2) {
    margin-left: 1120px;
  }
  #bubbles div:nth-child(3) {
    margin-left: 1400px;
  }
  #bubbles div:nth-child(4) {
    margin-left: 1220px;
  }
  #bubbles div:nth-child(5) {
    margin-left: 1480px;
  }
  #bubbles div:nth-child(6) {
    margin-left: 1320px;
  }
  #rectangles div:nth-child(1) {
    z-index: -1;
    margin-left: 980px;
  }
  #rectangles div:nth-child(2) {
    z-index: -1;
    margin-left: 1080px;
  }
  #rectangles div:nth-child(3) {
    z-index: -1;
    margin-left: 1280px;
  }
  #rectangles div:nth-child(4) {
    z-index: -1;
    margin-left: 1260px;
  }
  #blobs div:nth-child(1) {
    margin-left: 1280px;
  }
  #blobs div:nth-child(2) {
    margin-left: 1480px;
  }
  #blobs div:nth-child(3) {
    margin-left: 1180px;
  }
  #ticSquares div:nth-child(1) {
    margin-left: 1180px;
  }
  #ticSquares div:nth-child(2) {
    margin-left: 880px;
  }
  #ticSquares div:nth-child(3) {
    margin-left: 1480px;
  }
  #ticSquares div:nth-child(4) {
    margin-left: 1360px;
  }
  #ticSquares div:nth-child(5) {
    margin-left: 1460px;
  }
}

@media (max-width: 1840px) {
  #GitHubIcon, #TwitterIcon, #CodePenIcon {
    margin-left: 1170px;
    margin-top: 350px;
  }
  #TwitterIcon {
    margin-left: 1300px;
    margin-top: 430px;
  }
  #CodePenIcon {
    margin-top: 510px;
    margin-left: 1430px;
  }
  div a span {
    font-size: 16em;
    width: 130px;
    height: 130px;
  }
  #colorPads div:nth-child(1) {
    width: 200px;
    height: 200px;
    margin-left: 1020px;
    margin-top: 220px;
  }
  #colorPads div:nth-child(2) {
    width: 160px;
    height: 160px;
    margin-left: 1270px;
    margin-top: 320px;
  }
  #colorPads div:nth-child(3) {
    margin-left: 1020px;
  }
  #colorPads div:nth-child(4) {
    margin-left: 1370px;
  }
  #colorPads div:nth-child(5) {
    margin-left: 1460px;
  }
  #colorPads div:nth-child(6) {
    margin-left: 1040px;
  }
  #colorPads div:nth-child(7) {
    margin-left: 1220px;
  }
  #colorPads div:nth-child(8) {
    margin-left: 870px;
  }
  #colorPads div:nth-child(9) {
    margin-left: 1420px;
  }
  #colorPads div:nth-child(10) {
    margin-left: 1120px;
  }
  #bubbles div:nth-child(1) {
    margin-left: 1120px;
  }
  #bubbles div:nth-child(2) {
    margin-left: 1040px;
  }
  #bubbles div:nth-child(3) {
    margin-left: 1320px;
  }
  #bubbles div:nth-child(4) {
    margin-left: 1160px;
  }
  #bubbles div:nth-child(5) {
    margin-left: 1400px;
  }
  #bubbles div:nth-child(6) {
    margin-left: 1240px;
  }
  #rectangles div:nth-child(1) {
    z-index: -1;
    margin-left: 900px;
  }
  #rectangles div:nth-child(2) {
    z-index: -1;
    margin-left: 1000px;
  }
  #rectangles div:nth-child(3) {
    z-index: -1;
    margin-left: 1200px;
  }
  #rectangles div:nth-child(4) {
    z-index: -1;
    margin-left: 1180px;
  }
  #blobs div:nth-child(1) {
    margin-left: 1200px;
  }
  #blobs div:nth-child(2) {
    margin-left: 1400px;
  }
  #blobs div:nth-child(3) {
    margin-left: 1100px;
  }
  #ticSquares div:nth-child(1) {
    margin-left: 1100px;
  }
  #ticSquares div:nth-child(2) {
    margin-left: 800px;
  }
  #ticSquares div:nth-child(3) {
    margin-left: 1400px;
  }
  #ticSquares div:nth-child(4) {
    margin-left: 1280px;
  }
  #ticSquares div:nth-child(5) {
    margin-left: 1380px;
  }
}

@media (max-width: 1760px) {
  #GitHubIcon, #TwitterIcon, #CodePenIcon {
    margin-left: 1170px;
    margin-top: 350px;
  }
  #TwitterIcon {
    margin-left: 1300px;
    margin-top: 430px;
  }
  #CodePenIcon {
    margin-top: 510px;
    margin-left: 1430px;
  }
  div a span {
    font-size: 16em;
    width: 130px;
    height: 130px;
  }
  #colorPads div:nth-child(1) {
    width: 200px;
    height: 200px;
    margin-left: 1020px;
    margin-top: 220px;
  }
  #colorPads div:nth-child(2) {
    width: 160px;
    height: 160px;
    margin-left: 1270px;
    margin-top: 320px;
  }
  #colorPads div:nth-child(3) {
    margin-left: 1020px;
  }
  #colorPads div:nth-child(4) {
    margin-left: 1370px;
  }
  #colorPads div:nth-child(5) {
    margin-left: 1460px;
  }
  #colorPads div:nth-child(6) {
    margin-left: 1040px;
  }
  #colorPads div:nth-child(7) {
    margin-left: 1220px;
  }
  #colorPads div:nth-child(8) {
    margin-left: 870px;
  }
  #colorPads div:nth-child(9) {
    margin-left: 1420px;
  }
  #colorPads div:nth-child(10) {
    margin-left: 1120px;
  }
  #bubbles div:nth-child(1) {
    margin-left: 1120px;
  }
  #bubbles div:nth-child(2) {
    margin-left: 1040px;
  }
  #bubbles div:nth-child(3) {
    margin-left: 1320px;
  }
  #bubbles div:nth-child(4) {
    margin-left: 1160px;
  }
  #bubbles div:nth-child(5) {
    margin-left: 1400px;
  }
  #bubbles div:nth-child(6) {
    margin-left: 1240px;
  }
  #rectangles div:nth-child(1) {
    z-index: -1;
    margin-left: 900px;
  }
  #rectangles div:nth-child(2) {
    z-index: -1;
    margin-left: 1000px;
  }
  #rectangles div:nth-child(3) {
    z-index: -1;
    margin-left: 1200px;
  }
  #rectangles div:nth-child(4) {
    z-index: -1;
    margin-left: 1180px;
  }
  #blobs div:nth-child(1) {
    margin-left: 1200px;
  }
  #blobs div:nth-child(2) {
    margin-left: 1400px;
  }
  #blobs div:nth-child(3) {
    margin-left: 1100px;
  }
  #ticSquares div:nth-child(1) {
    margin-left: 1100px;
  }
  #ticSquares div:nth-child(2) {
    margin-left: 800px;
  }
  #ticSquares div:nth-child(3) {
    margin-left: 1400px;
  }
  #ticSquares div:nth-child(4) {
    margin-left: 1280px;
  }
  #ticSquares div:nth-child(5) {
    margin-left: 1380px;
  }
}
/*# sourceMappingURL=animate.css.map */