@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

$font: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: 'Josefin Sans', sans-serif;
$white: #fafafa;
$black: #000;


#paraBottom {
    transition: .8s;
    border-bottom: 3px solid;
    padding-bottom: 40px;
    font-family: $font;
}

#paraTop {
    transition: .8s;
    font-family: $font;
}

#projectHeader {
    transition: .8s;
    font-size: 12em;
    width: 970px;
    font-family: $font;
    font-weight: 300 !important;
    border-bottom: 3px solid;
    font-weight: 800;
}

.desc {
    transition: .8s;
    font-family: $font;
    font-size: 8em;
    margin-top: 10px;
    color: $black;
    width: 570px;
}

.title {
    transition: .8s;
    width: 570px;
    font-size: 9.5em;
    margin-top: 40px;
    font-family: $font;
    padding: .5em .5em .5em 0em;
    border-bottom: 3px solid;
    border-right: 3px solid;
    color: $black;
}

.view {
    transition: .8s;
    user-select: none;
    font-family: $font;
    width: 300px;
    height: 75px;
    margin-top: 20px;
    font-size: 30px;
    background-color: #fff1f1;
    border-radius: 90px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.1);
    transition: 0.6s !important;
}

.view:hover {
    transform: translateY(-7px) !important;
    background-color: #fee1fe;
}

.view:focus {
    outline: none;
}

#calcContainer {
    margin-top: 50px;
    transition: .8s;
}

#quoteMachine, #drumMachine, #heatMap, #choroplethMapContainer, #ticTac {
    margin-top: 200px;
    transition: .8s;
}

#choroplethMap {
    transition: .8s;
    user-select: none;
    position: absolute;
    width: 70%;
    pointer-events: none;
    margin-left: 660px;
    margin-top: -430px;
    box-shadow: 40px 40px 100px rgba(10, 11, 26, 0.25);
}

@media (max-width: 1350px) {
   #projectHeader {
       margin-top: 900px;
   }

   .title {
       width: 450px;
       font-size: 7em;
   }

   .desc {
       width: 450px;
       font-size: 6em;
   }
}

@media (max-width: 1200px) {
    #projectHeader {
        margin-top: 800px;
        width: 650px;
    }

    .title {
        width: 600px;
    }

    #quoteMachine {
        margin-top: 60px;
    }
    
    #drumMachine {
        margin-top: 80px;
    }
    
    #heatMap {
        margin-top: 80px;
    }

    .view {
        width: 250px;
        height: 75px;
        font-size: 25px;
    }
}

@media (max-width: 960px) {
    #projectHeader {
        margin-top: 800px;
    }
}

@media (max-width: 760px) {
    #projectHeader {
        width: 500px;
        font-size: 10em
    }

    .title {
        width: 450px;
        font-size: 6em
    }

    .view {
        height: 50px;
        width: 200px;
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    #projectHeader {
        width: 400px;
        margin-top: 400px;
    }

    .title {
        width: 350px;
        font-size: 5.5em;
    }

    .desc {
        width: 350px;
        font-size: 4.2em;
    }

    #drumMachine {
        margin-top: 60px;
    }

    #heatMap {
        margin-top: 60px;
    }

    .view {
        height: 40px;
        width: 170px;
        font-size: 18px;
    }
}

@media (max-width: 530px) {
    #projectHeader {
        width: 280px;
        font-size: 8em;
    }

    .title {
        width: 250px;
        font-size: 4em;
    }

    .desc {
        font-size: 3.2em; 
        width: 250px;
    }

    .view {
        height: 30px;
        width: 140px;
        font-size: 13px;
    }
}

@media (max-width: 1860px) {
    .desc {
        font-size: 6em;
    }

    .title {
        font-size: 7em;
    }

    .view {
        font-size: 6em;
        padding: 10px;
    }

    #choroplethMap {
        margin-top: -260px;
    }

    #ticTac {
        margin-top: 500px;
    }

    #quoteMachine, #drumMachine, #heatMap, #choroplethMapContainer {
        margin-top: 300px;
    }

}

@media (max-width: 1700px) {
    .desc {
        font-size: 5.5em;
        width: 450px;
    }

    .title {
        font-size: 6.5em;
        width: 450px;
    }

    .view {
        font-size: 6em;
        padding: 10px;
    }
}