@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font: 'Josefin Sans', sans-serif;
$font2: 'Courgette', cursive;
$white: #fafafa;
$black: #2c2f33;

li {
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
}

#main {
    height: 15em;
    border: 10px solid $white;
    background-color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

a, #name {
    text-decoration: none;
    color: $black;
    font-size: 2vw;
    font-family: $font;
}

#name {
    font-family: $font2;
    font-size: 2vw;
    color: $black;
}

.drop {
    display: block;
    font-size: 2vw;
    color: #2c2f33;
}

.nav {
    position: absolute;
    margin-top: -35px;
    border: 1px $white;
    background-color: $white;
    font-size: 2vw;
    border: 9px double;
    padding: 7px;
    transition: 0.5s;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.nav:hover {
    background-color: #fddce9;
    transform: translateY(-7px);
}

@media (max-width: 1250px) {
    #name {
        font-size: 3vw
    }

    .nav {
        font-size: 2vw;
    }
}

@media (max-width: 940px) {
    #main {
        height: 15.8em;
    }
    
    nav .nav { 
        display: none; 
    }

    #name {
        font-size: 4.5vw;
    }

    #menu ul li a {
        font-size: 4vw;
    }
  }

  @media (max-width: 700px) {
    #name {
        font-size: 6vw;
    }

    #menu ul li a {
        font-size: 6vw;
    }
}

@media (max-width: 500px) {
    #name {
        font-size: 5.7vw;
    }

    #menu ul li a {
        font-size: 8vw;
    }
}

@media (max-width: 400px) {
    #name {
        font-size: 6.5vw;
    }
}

@media (max-width: 300px) {
    #dropBtn {
        font-size: 28px !important;
    }
    
    #name {
        font-size: 7vw;
    }
}

#dropNav {
    list-style-type: none;
    background-color:#cdd1f7;
    padding: 30px 20px 30px 20px;
    border-radius: 1px;
}

.dropBlock {
    display: block !important;
    animation-name: fade;
    animation-duration: 0.4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    25% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.dropdownMenu {
    z-index: 10;
    display: none;
    position: absolute;
    right: 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#dropBtn {
    border-radius: 8px;
    font-size: 40px;
    border: 1px #fafafa;
    background-color: #fafafa;
    padding: 3px 9px 6px 9px;
    border: 9px double;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

#dropBtn:hover {
    background-color: #daddf7;
    transform: translateY(-7px);
}

